main{
  min-height: 400px;
  background-color: var(--cardColor);
  box-shadow: var(--grayShadow);
  padding: 50px 80px;
  text-align: center;
  border-radius: var(--borderRadius);
  position: relative;

  app-adventure-article:not(:first-child){
    margin-top: 100px;
    display: block;
  }
}

@media screen and (min-width: 767px){
  main
  {
    margin: auto;
    margin-top: 150px;
    width: 70%;
  }
  .tags
  {
    width: 60%;
  }
}
