<main>
  <app-tag-filter
    [availableTags]="allTags"
    (filterChanged)="onTagFilterChanged()"
  ></app-tag-filter>
  @for (adventure of filteredAdventures; track adventure.title) {
    <app-adventure-article
      [title]="adventure.title"
      [videoPath]="adventure.videoPath"
      [tags]="adventure.tags"
      [description]="adventure.description"
      [timeSpent]="adventure.timeSpent"
      [imagePaths]="adventure.images"
      [githubLink]="adventure.githubLink"
    ></app-adventure-article>
  }
</main>
