@use "./variables" as *;
@font-face 
{
    font-family: Heming;
  /* served from src/assets/Fonts -> available at /assets/Fonts/ */
  src: url('/assets/Fonts/heming-variable.ttf') format('truetype');
}

@font-face 
{
    font-family: Woodford;
  /* served from src/assets/Fonts/WoodfordBornePro -> available at /assets/Fonts/WoodfordBornePro/ */
  src: url('/assets/Fonts/WoodfordBornePro/WoodfordBournePro-Regular.ttf') format('truetype');
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Woodford", sans-serif;
  color: var(--txtColor);
  font-weight: 500;
  list-style: none;
}

h1 {
  font-family: "Heming", sans-serif;
  font-size: xx-large;
  font-weight: bold;

}

h2 {
  font-family: "Heming", sans-serif;
  font-weight: bold;
}

img {
  border-radius: var(--borderRadius);
}

video {
  border-radius: var(--borderRadius);
}

iframe {
  border: none;
}

body {
  border: solid rgba(0, 0, 0, 0) 1px;
  background: linear-gradient(180deg, #121014 0%, #050405 100%);
  position: relative;
  overflow-x: hidden;
}

.clickable {
  cursor: pointer;
}

.btn {
  transition: all 0.3s ease;
  transform-origin: 50% 0;

  &:hover {
    transform: scale(1.05);
  }
}

.orangeAnim {
  transition: 0.2s ease;

  &:hover {
    color: var(--contrastColor);
  }
}

.hidden {
  display: none;
}

.orangeImgAnim {
  transition: 0.2s ease;

  &:hover {
    filter: var(--contrastFilter);
  }
}

.orangeHover {
  /* transition: filter 0.3s ease; */

  &:hover {
    transform: scale(1.05);
    transform-origin: 50% 50%;

    filter: drop-shadow(0px 0px 5px var(--contrastColor));

  }
}

#starCanvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
  pointer-events: none;
  height: 100%;
  width: 100vw;
}

iframe {
  border: none;
}

header {
  position: fixed;

  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100vw;
  height: 60px;
  padding-left: 30px;
  padding-right: 30px;
  margin-top: -2px;

  background-color: var(--navBarColor);
  filter: drop-shadow(0px -15px 27px #000000);
  z-index: 99;

  nav {
    display: flex;
    justify-content: space-between;
    flex-basis: 100%;
    align-items: center;
    padding-left: 10px;

    &>ul li a {
      font-size: 18px;
      text-decoration: none;
    }
  }

  ul {
    list-style: none;
    display: flex;
    font-size: 0;
    height: 100%;
    align-items: center;
    justify-content: center;
    gap: 5px;

    li {
      a {
        display: block;
      }

      img {
        filter: var(--iconFilter);
      }
    }

  }

  img {
    width: 30px;
    height: 30px;
  }

  svg {
    width: 40px;
    height: 40px;

    path {
      fill: var(--contrastColor);
    }
  }

}


#Debug {
  position: fixed;
  top: 0;
  left: 0;
  font-size: xx-large;
}

/* ---------------------------- Image Pop Up ---------------------------- */
/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 9999;
  padding: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
  margin: auto;
  display: block;
  width: 90%;
  max-width: 900px;
}

.modal-content,
#caption {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.2s;
  animation-name: zoom;
  animation-duration: 0.2s;
}

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0)
  }

  to {
    -webkit-transform: scale(1)
  }
}

@keyframes zoom {
  from {
    transform: scale(0)
  }

  to {
    transform: scale(1)
  }
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%;
  }
}

/* ---------------------------- Image Pop Up ---------------------------- */

/* ---------------------------- Scroll Bar S---------------------------- */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--navBarColor);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--txtColor);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--txtColor2);
}
html {
  overflow-y: scroll;
}
/* ---------------------------- Scroll Bar E---------------------------- */


@keyframes wobble {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(-5deg);
  }
  75% {
    transform: rotate(3deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.wobble:active {
  animation: wobble 0.3s ease-in-out;  /* Apply the wobble animation on click */
}


.glossy-container {
  position: relative;
  display: inline-block;
  overflow: hidden;

  img {
    display: block;
    width: 100%;
    height: auto;
  }
}

.glossy-shine {
  content: "";
  position: absolute;
  top: -100%;
  left: -100%;
  width: 200%;
  height: 200%;
  background: linear-gradient(120deg,
      rgba(255, 255, 255, 0) 30%,
      rgba(255, 255, 255, 0.15) 50%,
      rgba(255, 255, 255, 0) 70%);
  transform: rotate(1deg);
  opacity: 1;
  pointer-events: none;
}

.backBtn {
  position: absolute;
  left: 20px;
  top: 20px;
  z-index: 3;

  svg {
    width: 50px;
    height: 50px;
    transform: rotate(-90deg);

    & #primary {
      fill: var(--cardColor);
    }

    & #secondary {
      fill: var(--contrastColor);
    }

    &:hover {
      filter: drop-shadow(0px 0px 5px var(--lighterViolet));
    }
  }

}

.tag {
  display: inline-block;
  margin-right: 7px;
  padding-left: 3px;
  padding-right: 4px;
  background-color: var(--cardColor);
  border-radius: 5px;
  margin-top: 5px;

  &.active {
    outline: 2px solid var(--contrastColor);
    outline-offset: -2px;
  }
}

.activeTag {
  outline: 2px solid var(--contrastColor);
  outline-offset: -2px;
}


footer {
  padding: 40px;
  background-color: var(--footerColor);

  ul {
    list-style: none;
    text-align: center;
  }

  ul:last-of-type img {
    filter: var(--iconFilter);
    width: 30px;
  }

  ul:last-of-type li {
    display: inline-block;
  }

  li {
    margin-bottom: 5px;
  }

  a {
    text-decoration: none;
  }

}