main{
  min-height: 400px;
  background-color: var(--cardColor);
  box-shadow: var(--grayShadow);
  padding: 50px 50px 70px;
  text-align: center;
  border-radius: var(--borderRadius);
  position: relative;
}

@media screen and (min-width: 767px){
  main
  {
    margin: auto;
    margin-top: 150px;
    width: 70%;


  }
  .tags
  {
    width: 60%;
  }
}
